/* purgecss start ignore */

:root {
  --primary: #2c7be5;
  --primary-100: rgb(171, 202, 245);
  --primary-200: rgb(128, 176, 239);
  --primary-300: rgb(86, 149, 234);
  --primary-400: rgb(65, 136, 232);
  --primary-600: rgb(35, 98, 183);
  --primary-700: rgb(22, 62, 115);
  --primary-800: rgb(13, 37, 69);
  --primary-900: rgb(4, 12, 23);
  --secondary: #9d7bd8;
  --secondary-100: rgb(216, 202, 239);
  --secondary-200: rgb(196, 176, 232);
  --secondary-300: rgb(177, 149, 224);
  --secondary-400: rgb(167, 136, 220);
  --secondary-600: rgb(126, 98, 173);
  --secondary-700: rgb(79, 62, 108);
  --secondary-800: rgb(47, 37, 65);
  --secondary-900: rgb(16, 12, 22);
  --success: #4caf50;
  --success-400: rgb(94, 183, 98);
  --success-600: rgb(61, 140, 64);
  --success-700: rgb(38, 88, 40);
  --success-800: rgb(15, 35, 16);
  --success-900: rgb(8, 17, 8);
  --danger: #e51c23;
  --danger-400: rgb(232, 51, 57);
  --danger-600: rgb(183, 22, 28);
  --danger-700: rgb(115, 14, 18);
  --danger-800: rgb(46, 6, 7);
  --danger-900: rgb(23, 3, 3);
  --warning: #ff9800;
  --warning-400: rgb(255, 162, 26);
  --warning-600: rgb(204, 122, 0);
  --warning-700: rgb(128, 76, 0);
  --warning-800: rgb(51, 30, 0);
  --warning-900: rgb(25, 15, 0);
  --info: #47bac1;
  --info-400: rgb(89, 193, 199);
  --info-600: rgb(57, 149, 154);
  --info-700: rgb(36, 93, 97);
  --info-800: rgb(14, 37, 39);
  --info-900: rgb(7, 19, 19);
  --text-color-mainly: #737b81;
  --text-color-mainly-100: rgb(199, 202, 205);
  --text-color-mainly-200: rgb(171, 176, 179);
  --text-color-mainly-300: rgb(143, 149, 154);
  --text-color-mainly-400: rgb(129, 136, 142);
  --text-color-mainly-600: rgb(92, 98, 103);
  --text-color-mainly-700: rgb(58, 62, 65);
  --text-color-mainly-800: rgb(35, 37, 39);
  --text-color-mainly-900: rgb(11, 12, 13);
  --text-color-placeholder: #98a6ad;
  --text-color-placeholder-100: rgb(214, 219, 222);
  --text-color-placeholder-200: rgb(193, 202, 206);
  --text-color-placeholder-300: rgb(173, 184, 189);
  --text-color-placeholder-400: rgb(162, 175, 181);
  --text-color-placeholder-600: rgb(122, 133, 138);
  --text-color-placeholder-700: rgb(76, 83, 87);
  --text-color-placeholder-800: rgb(46, 50, 52);
  --text-color-placeholder-900: rgb(15, 17, 17);
  --border-color-mainly: #e6e6e6;
  --border-color-mainly-100: rgb(245, 245, 245);
  --border-color-mainly-200: rgb(240, 240, 240);
  --border-color-mainly-300: rgb(235, 235, 235);
  --border-color-mainly-400: rgb(233, 233, 233);
  --border-color-mainly-600: rgb(184, 184, 184);
  --border-color-mainly-700: rgb(115, 115, 115);
  --border-color-mainly-800: rgb(69, 69, 69);
  --border-color-mainly-900: rgb(23, 23, 23);
  --background-color-mainly: #98a6ad;
  --background-color-mainly-100: rgb(214, 219, 222);
  --background-color-mainly-200: rgb(193, 202, 206);
  --background-color-mainly-300: rgb(173, 184, 189);
  --background-color-mainly-400: rgb(162, 175, 181);
  --background-color-mainly-600: rgb(122, 133, 138);
  --background-color-mainly-700: rgb(76, 83, 87);
  --background-color-mainly-800: rgb(46, 50, 52);
  --background-color-mainly-900: rgb(15, 17, 17);
  --background-color-body: #f9fafe;
  --background-color-placeholder: #f9fafe
}

/* purgecss end ignore */

.tw-flexrow-s-s {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start
}

.tw-flexrow-s-c {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center
}

.tw-flexrow-s-e {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end
}

.tw-flexrow-s-sth {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch
}

.tw-flexrow-s-bs {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline
}

.tw-flexrow-c-s {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start
}

.tw-flexrow-c-c {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

.tw-flexrow-c-e {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end
}

.tw-flexrow-c-sth {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch
}

.tw-flexrow-c-bs {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline
}

.tw-flexrow-e-s {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start
}

.tw-flexrow-e-c {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center
}

.tw-flexrow-e-e {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end
}

.tw-flexrow-e-sth {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch
}

.tw-flexrow-e-bs {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline
}

.tw-flexrow-bet-s {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start
}

.tw-flexrow-bet-c {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center
}

.tw-flexrow-bet-e {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end
}

.tw-flexrow-bet-sth {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch
}

.tw-flexrow-bet-bs {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline
}

.tw-flexrow-ard-s {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start
}

.tw-flexrow-ard-c {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center
}

.tw-flexrow-ard-e {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end
}

.tw-flexrow-ard-sth {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch
}

.tw-flexrow-ard-bs {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline
}

.tw-flexcol-s-s {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start
}

.tw-flexcol-s-c {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center
}

.tw-flexcol-s-e {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end
}

.tw-flexcol-s-bet {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between
}

.tw-flexcol-s-ard {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around
}

.tw-flexcol-c-s {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start
}

.tw-flexcol-c-c {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.tw-flexcol-c-e {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end
}

.tw-flexcol-c-bet {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between
}

.tw-flexcol-c-ard {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around
}

.tw-flexcol-e-s {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start
}

.tw-flexcol-e-c {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center
}

.tw-flexcol-e-e {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end
}

.tw-flexcol-e-bet {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between
}

.tw-flexcol-e-ard {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around
}

.tw-flexcol-sth-s {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start
}

.tw-flexcol-sth-c {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center
}

.tw-flexcol-sth-e {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end
}

.tw-flexcol-sth-bet {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between
}

.tw-flexcol-sth-ard {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around
}

.tw-flexcol-bs-s {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start
}

.tw-flexcol-bs-c {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center
}

.tw-flexcol-bs-e {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-end
}

.tw-flexcol-bs-bet {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between
}

.tw-flexcol-bs-ard {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around
}

@media (min-width: 640px) {
  .sm\:tw-flexrow-s-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start
  }

  .sm\:tw-flexrow-s-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center
  }

  .sm\:tw-flexrow-s-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end
  }

  .sm\:tw-flexrow-s-sth {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch
  }

  .sm\:tw-flexrow-s-bs {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline
  }

  .sm\:tw-flexrow-c-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start
  }

  .sm\:tw-flexrow-c-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
  }

  .sm\:tw-flexrow-c-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end
  }

  .sm\:tw-flexrow-c-sth {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch
  }

  .sm\:tw-flexrow-c-bs {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline
  }

  .sm\:tw-flexrow-e-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start
  }

  .sm\:tw-flexrow-e-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center
  }

  .sm\:tw-flexrow-e-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end
  }

  .sm\:tw-flexrow-e-sth {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch
  }

  .sm\:tw-flexrow-e-bs {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline
  }

  .sm\:tw-flexrow-bet-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start
  }

  .sm\:tw-flexrow-bet-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
  }

  .sm\:tw-flexrow-bet-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end
  }

  .sm\:tw-flexrow-bet-sth {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch
  }

  .sm\:tw-flexrow-bet-bs {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline
  }

  .sm\:tw-flexrow-ard-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start
  }

  .sm\:tw-flexrow-ard-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center
  }

  .sm\:tw-flexrow-ard-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end
  }

  .sm\:tw-flexrow-ard-sth {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch
  }

  .sm\:tw-flexrow-ard-bs {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline
  }

  .sm\:tw-flexcol-s-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start
  }

  .sm\:tw-flexcol-s-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center
  }

  .sm\:tw-flexcol-s-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end
  }

  .sm\:tw-flexcol-s-bet {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between
  }

  .sm\:tw-flexcol-s-ard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around
  }

  .sm\:tw-flexcol-c-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start
  }

  .sm\:tw-flexcol-c-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }

  .sm\:tw-flexcol-c-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end
  }

  .sm\:tw-flexcol-c-bet {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
  }

  .sm\:tw-flexcol-c-ard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around
  }

  .sm\:tw-flexcol-e-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start
  }

  .sm\:tw-flexcol-e-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center
  }

  .sm\:tw-flexcol-e-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end
  }

  .sm\:tw-flexcol-e-bet {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between
  }

  .sm\:tw-flexcol-e-ard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around
  }

  .sm\:tw-flexcol-sth-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start
  }

  .sm\:tw-flexcol-sth-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center
  }

  .sm\:tw-flexcol-sth-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end
  }

  .sm\:tw-flexcol-sth-bet {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between
  }

  .sm\:tw-flexcol-sth-ard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around
  }

  .sm\:tw-flexcol-bs-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start
  }

  .sm\:tw-flexcol-bs-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center
  }

  .sm\:tw-flexcol-bs-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-end
  }

  .sm\:tw-flexcol-bs-bet {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between
  }

  .sm\:tw-flexcol-bs-ard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around
  }
}

@media (min-width: 768px) {
  .md\:tw-flexrow-s-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start
  }

  .md\:tw-flexrow-s-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center
  }

  .md\:tw-flexrow-s-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end
  }

  .md\:tw-flexrow-s-sth {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch
  }

  .md\:tw-flexrow-s-bs {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline
  }

  .md\:tw-flexrow-c-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start
  }

  .md\:tw-flexrow-c-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
  }

  .md\:tw-flexrow-c-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end
  }

  .md\:tw-flexrow-c-sth {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch
  }

  .md\:tw-flexrow-c-bs {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline
  }

  .md\:tw-flexrow-e-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start
  }

  .md\:tw-flexrow-e-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center
  }

  .md\:tw-flexrow-e-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end
  }

  .md\:tw-flexrow-e-sth {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch
  }

  .md\:tw-flexrow-e-bs {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline
  }

  .md\:tw-flexrow-bet-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start
  }

  .md\:tw-flexrow-bet-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
  }

  .md\:tw-flexrow-bet-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end
  }

  .md\:tw-flexrow-bet-sth {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch
  }

  .md\:tw-flexrow-bet-bs {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline
  }

  .md\:tw-flexrow-ard-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start
  }

  .md\:tw-flexrow-ard-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center
  }

  .md\:tw-flexrow-ard-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end
  }

  .md\:tw-flexrow-ard-sth {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch
  }

  .md\:tw-flexrow-ard-bs {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline
  }

  .md\:tw-flexcol-s-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start
  }

  .md\:tw-flexcol-s-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center
  }

  .md\:tw-flexcol-s-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end
  }

  .md\:tw-flexcol-s-bet {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between
  }

  .md\:tw-flexcol-s-ard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around
  }

  .md\:tw-flexcol-c-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start
  }

  .md\:tw-flexcol-c-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }

  .md\:tw-flexcol-c-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end
  }

  .md\:tw-flexcol-c-bet {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
  }

  .md\:tw-flexcol-c-ard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around
  }

  .md\:tw-flexcol-e-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start
  }

  .md\:tw-flexcol-e-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center
  }

  .md\:tw-flexcol-e-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end
  }

  .md\:tw-flexcol-e-bet {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between
  }

  .md\:tw-flexcol-e-ard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around
  }

  .md\:tw-flexcol-sth-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start
  }

  .md\:tw-flexcol-sth-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center
  }

  .md\:tw-flexcol-sth-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end
  }

  .md\:tw-flexcol-sth-bet {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between
  }

  .md\:tw-flexcol-sth-ard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around
  }

  .md\:tw-flexcol-bs-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start
  }

  .md\:tw-flexcol-bs-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center
  }

  .md\:tw-flexcol-bs-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-end
  }

  .md\:tw-flexcol-bs-bet {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between
  }

  .md\:tw-flexcol-bs-ard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around
  }
}

@media (min-width: 1024px) {
  .lg\:tw-flexrow-s-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start
  }

  .lg\:tw-flexrow-s-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center
  }

  .lg\:tw-flexrow-s-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end
  }

  .lg\:tw-flexrow-s-sth {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch
  }

  .lg\:tw-flexrow-s-bs {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline
  }

  .lg\:tw-flexrow-c-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start
  }

  .lg\:tw-flexrow-c-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
  }

  .lg\:tw-flexrow-c-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end
  }

  .lg\:tw-flexrow-c-sth {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch
  }

  .lg\:tw-flexrow-c-bs {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline
  }

  .lg\:tw-flexrow-e-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start
  }

  .lg\:tw-flexrow-e-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center
  }

  .lg\:tw-flexrow-e-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end
  }

  .lg\:tw-flexrow-e-sth {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch
  }

  .lg\:tw-flexrow-e-bs {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline
  }

  .lg\:tw-flexrow-bet-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start
  }

  .lg\:tw-flexrow-bet-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
  }

  .lg\:tw-flexrow-bet-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end
  }

  .lg\:tw-flexrow-bet-sth {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch
  }

  .lg\:tw-flexrow-bet-bs {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline
  }

  .lg\:tw-flexrow-ard-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start
  }

  .lg\:tw-flexrow-ard-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center
  }

  .lg\:tw-flexrow-ard-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end
  }

  .lg\:tw-flexrow-ard-sth {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch
  }

  .lg\:tw-flexrow-ard-bs {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline
  }

  .lg\:tw-flexcol-s-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start
  }

  .lg\:tw-flexcol-s-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center
  }

  .lg\:tw-flexcol-s-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end
  }

  .lg\:tw-flexcol-s-bet {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between
  }

  .lg\:tw-flexcol-s-ard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around
  }

  .lg\:tw-flexcol-c-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start
  }

  .lg\:tw-flexcol-c-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }

  .lg\:tw-flexcol-c-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end
  }

  .lg\:tw-flexcol-c-bet {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
  }

  .lg\:tw-flexcol-c-ard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around
  }

  .lg\:tw-flexcol-e-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start
  }

  .lg\:tw-flexcol-e-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center
  }

  .lg\:tw-flexcol-e-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end
  }

  .lg\:tw-flexcol-e-bet {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between
  }

  .lg\:tw-flexcol-e-ard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around
  }

  .lg\:tw-flexcol-sth-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start
  }

  .lg\:tw-flexcol-sth-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center
  }

  .lg\:tw-flexcol-sth-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end
  }

  .lg\:tw-flexcol-sth-bet {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between
  }

  .lg\:tw-flexcol-sth-ard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around
  }

  .lg\:tw-flexcol-bs-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start
  }

  .lg\:tw-flexcol-bs-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center
  }

  .lg\:tw-flexcol-bs-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-end
  }

  .lg\:tw-flexcol-bs-bet {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between
  }

  .lg\:tw-flexcol-bs-ard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around
  }
}

@media (min-width: 1280px) {
  .xl\:tw-flexrow-s-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start
  }

  .xl\:tw-flexrow-s-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center
  }

  .xl\:tw-flexrow-s-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end
  }

  .xl\:tw-flexrow-s-sth {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch
  }

  .xl\:tw-flexrow-s-bs {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline
  }

  .xl\:tw-flexrow-c-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start
  }

  .xl\:tw-flexrow-c-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
  }

  .xl\:tw-flexrow-c-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end
  }

  .xl\:tw-flexrow-c-sth {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch
  }

  .xl\:tw-flexrow-c-bs {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline
  }

  .xl\:tw-flexrow-e-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start
  }

  .xl\:tw-flexrow-e-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center
  }

  .xl\:tw-flexrow-e-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end
  }

  .xl\:tw-flexrow-e-sth {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch
  }

  .xl\:tw-flexrow-e-bs {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline
  }

  .xl\:tw-flexrow-bet-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start
  }

  .xl\:tw-flexrow-bet-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
  }

  .xl\:tw-flexrow-bet-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end
  }

  .xl\:tw-flexrow-bet-sth {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch
  }

  .xl\:tw-flexrow-bet-bs {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline
  }

  .xl\:tw-flexrow-ard-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start
  }

  .xl\:tw-flexrow-ard-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center
  }

  .xl\:tw-flexrow-ard-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end
  }

  .xl\:tw-flexrow-ard-sth {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch
  }

  .xl\:tw-flexrow-ard-bs {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline
  }

  .xl\:tw-flexcol-s-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start
  }

  .xl\:tw-flexcol-s-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center
  }

  .xl\:tw-flexcol-s-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end
  }

  .xl\:tw-flexcol-s-bet {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between
  }

  .xl\:tw-flexcol-s-ard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around
  }

  .xl\:tw-flexcol-c-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start
  }

  .xl\:tw-flexcol-c-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }

  .xl\:tw-flexcol-c-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end
  }

  .xl\:tw-flexcol-c-bet {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
  }

  .xl\:tw-flexcol-c-ard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around
  }

  .xl\:tw-flexcol-e-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start
  }

  .xl\:tw-flexcol-e-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center
  }

  .xl\:tw-flexcol-e-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end
  }

  .xl\:tw-flexcol-e-bet {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between
  }

  .xl\:tw-flexcol-e-ard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around
  }

  .xl\:tw-flexcol-sth-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start
  }

  .xl\:tw-flexcol-sth-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center
  }

  .xl\:tw-flexcol-sth-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end
  }

  .xl\:tw-flexcol-sth-bet {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between
  }

  .xl\:tw-flexcol-sth-ard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around
  }

  .xl\:tw-flexcol-bs-s {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start
  }

  .xl\:tw-flexcol-bs-c {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center
  }

  .xl\:tw-flexcol-bs-e {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-end
  }

  .xl\:tw-flexcol-bs-bet {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between
  }

  .xl\:tw-flexcol-bs-ard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around
  }
}
