:root {
  --primary: #fff;
}

.ex-button {
  color: #ff0000;
}

.primary {
  color: var(--main, var(--primary));
}

%thick-border {
  background-color: black;
  margin-left: 20px;
  margin-right: @margin-left;
}

@define-mixin button-color-platte $colorname {
  .btn-$(colorname) {
    color: var(--btn-text-$(colorname), theme('stage.--$(colorname)'));
  }

  .modal {
    @extend %thick-border;
    color: red;
  }

  $dir: assets/icons;

  @each $icon in (foo, bar, baz) {
    .icon-$icon {
      background: url('$dir/$icon.png');

      /* $c: ;
      @if $colorname == primary {
        $c: blue;
      } @else {
        $c: black;
      }
      color: $c; */
    }
  }
}
@mixin button-color-platte primary;
